/* Estilos de la Navbar */
.header-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 50px;
  background-color: #2e7d32;
  color: white;
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  transition: background-color 0.3s ;
}

.navbar a:hover {
  background-color: #ffffff;
  color: #2e7d32;
}
